.flexDate{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;  
  margin-top: 2%;
}
.flexTitle{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;  
  margin-top: 1%;
}
.formDiv{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3%;
  margin-right: 25%;
  margin-left: 25%;
  background-color: #878eb49c;
}

.buttonDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2%;
  margin-right: 25%;
  margin-left: 25%;
}

.textDiv{
  margin-top: 1.5%;
}

body{
  background-color: #ececec;
}